<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Change Password - TheSkeleton</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
	<style type="text/css">
		body {
			min-height: 75rem;
			padding-top: 6rem;
			background-color: #eee;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="">
			The<strong>Skeleton</strong>
		</a>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
			<form class="form-signin" th:action="@{/changepass/update}" th:object="${updatePasswordForm}" method="POST">
				<div class="card">
					<div class="card-body">
						<h1>Change Password</h1>
						<p class="text-muted">Enter your new password</p>
						<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-danger' : ''">
							<label for="inputPassword" class="col-form-label">Password</label>
							<input type="password" th:field="*{password}" name="password" id="inputPassword" class="form-control" placeholder="Password" required="required" />
							<small class="form-control-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password must be at least 8 character</small>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('valid')} ? 'has-danger' : ''">
							<label for="inputPassword" class="col-form-label">Password</label>
							<input type="password" th:field="*{cpassword}" name="cpassword" id="inputCPassword" class="form-control" placeholder="Confirm Password" required="required" />
							<small class="form-control-feedback" th:if="${#fields.hasErrors('valid')}" th:errors="*{valid}">Confirm password must match</small>
						</div>
						<input type="hidden" th:name="rt" th:value="*{token}"/>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>
