<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Confirmation - TheSkeleton</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
	<style type="text/css">
		body {
			min-height: 75rem;
			padding-top: 6rem;
			background-color: #eee;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="">
			The<strong>Skeleton</strong>
		</a>
	</div>
</nav>

<div class="container">
	<div class="row" th:if="${message}" th:text="${message}"></div>
	<div class="row" th:unless="${message}">
		Your Account has been successfully activated. You can now log in using the username and password you chose
		during the registration.
	</div>
</div>
</body>
</html>
