<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Confirmation - TheSkeleton</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css" />
  <style type="text/css">
  body {
    min-height: 75rem;
    padding-top: 6rem;
    background-color: #eee;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="">
        The<strong>Skeleton</strong>
      </a>
    </div>
  </nav>

  <div class="container">
    <div class="row">
		We have sent an email with a confirmation link to your email address. Please allow 5-10 minutes for this message to arrive.
	</div>
  </div>
</body>
</html>
