<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title></title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
</head>
<body>
<br />
<br />
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>Connected!</h3>
			<button class="btn btn-primary" onclick="window.open('','_self').close()">Close</button>
		</div>
	</div>
</div>
<script>
	(function () {
		setTimeout(function () {
			window.close()
		}, 1000)
	})()
</script>
</body>
</html>
